.searchFieldContainer {
    width: 100vw;
    height: 60vh;
    background-image: url('../../assets/images/beach.jpg');
    background-position: center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slogan {
    position: relative;
    top: -2rem;
    color: #e33f5a;
    text-shadow: 2px 0px 2px rgba(0,0,0,0.6);
}

.searchBoxContainer {
    width: 85%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.913);
    border-radius: 1rem;
}


.flightType {
    padding-left: 1.5rem;
    padding-top: .5rem;
}

.searchForm {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.searchFormContent {
    display: flex;
    justify-content:center;
    gap: .8rem;
    padding: .5rem 1.5rem .5rem 1.7rem;
}

.searchFormContent div label {
    margin-left: .3rem;
}

.searchFormContent div input {
    border: .5px solid grey;
    border-radius: 5px;
    height: 3rem;
    padding-left: .5rem;
    margin-top: .5rem;
    outline: none;
}

#swapLocationsIcon:hover {
    cursor: pointer;
}

.w-2x {
    width: 20rem;
}

button {
    height: 3rem;
    margin-top: 1.75rem;
}

.datePickInput {
    border: .5px solid grey;
    border-radius: 5px;
    height: 3rem;
    width: 7rem;
    padding-left: .5rem;
    margin-top: .5rem;
    outline: none;
}

.datePickInput:hover {
    cursor: pointer;
}